@font-face {
   font-family: 'vazer';
   src: url('/font/Vazirmatn-RD-Light.ttf') format('truetype'),
      url('/font/Vazirmatn-RD-Light.woff2')format('woff');
}

body {

   font-family: 'vazer';
   background-color: #E8EBEE;
}
a{
   text-decoration: none;
   color: #000000;
}

.title {
   top: 100px;
   left: 20px;
   font-weight: bold;
   position: absolute;


}

.doctor {
   top: 150px;
   left: 20px;
   font-weight: bold;
   position: absolute;


}

.subtitle {
   top: 250px;
   font-weight: 700;
}

.Search {
   /* position: absolute;
      width: 388px;
      height: 45px;
      left: 280px;
      top: 276px;
      border-radius: 5pX;
      box-shadow: 5px 4px 10px 1px #696969; */
   box-sizing: border-box;
   background-color: #E8EBEE;
   position: absolute;
   width: 388px;
   height: 45px;
   left: 480px;
   top: 276px;
   text-align: left;
   border: 1px solid #E8EBEE;
   box-shadow: 0px 5px 10px 0.25px #1D3557;
   border-radius: 10px;

}

.Search::placeholder {
   padding: 20px;
}



.searchIc {
   position: absolute;
   width: 21px;
   height: 21px;
   left: 480px;
   top: 288px;
}

.nav {
   margin-top: .75rem;
   display: flex;
   justify-content: space-between;

}

.nav img {
   border-radius: 50%;
   height: 50px;
   width: 50px;
}

.nav ul {
   display: flex;

   list-style: none;
}

.mobnav {
   display: none;
}

.nav li {
   padding: 10px;
}

.titleContaner {
   position: relative;
}

.containerCategory {
   top: 420px;
   left: 130px;
   font-weight: bold;
   position: absolute;
}

.containerCategory h1 {
   font-weight: bold;
}

.TakhasosContainer {
   position: relative;
   left: 219x;
   top: 432px;

   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.Takhasos {
   position: relative;
   width: 100px;
   height: 75px;
   margin: 5px;
   background: #D2D5FB;
   border-radius: 10px;
}

.Takhasos p {
   position: absolute;
   width: 66px;
   height: 19px;
   left: 16px;
   top: 20px;

   font-family: 'vazer';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 19px;


   text-transform: capitalize;

   color: #000000;
}

.Takhasos img {
   position: absolute;
   width: 20px;
   height: 20px;
   left: 40px;
   top: 45px;

}

.text {
   top: 620px;
   left: 130px;
   font-weight: bold;
   position: absolute;
}

.docContainer {
   position: relative;
   left: 30px;
   top: 600px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;



}

.doctors {
   background-color: #FFFFFF;
   width: 320px;
   height: 82px;
   margin: 5px;
   position: relative;

   background: #FFFFFF;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.doctors img {
   position: absolute;
   top: 21px;
   left: 18px;
}

.doctors p {
   position: absolute;
   width: 118px;
   height: 25px;
   left:80px;
   top: 30px;

   font-family: 'vazer';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 25px;
   /* identical to box height */

   text-transform: capitalize;

   color: #000000;
}



@media (max-width:575px) {
   .nav {
      display: none;

   }

   .containerCategory {
      top: 380px;
      left: 30px;
      font-weight: bold;


   }
   

   .Search {

      width: 300px;
      left: 30px;

   }

   .searchIc {
      left: 32px;
   }

   .Search::placeholder {
      margin-left: 30px;
   }

   .TakhasosContainer {
      flex-wrap: wrap;

   }

   .Takhasos {
      position: relative;
      margin: 5px;
      width: 100px;
      height: 75px;
      background: #FFCC8A;
      border-radius: 10px;
   }

   .text {
      left: 30px;
   }


}


@media (min-width:576px) and (max-width:768px) {


   .containerCategory {
      left: 125px;
      top: 420px;

   }

   .Search {
      margin-top: 20px;
      width: 300px;
      left: 220px;

   }

   .Takhasos {
      position: relative;
      margin: 5px;
      width: 100px;
      height: 75px;
      background: #FFCC8A;
      border-radius: 10px;
   }

   .searchIc {
      left: 223px;
      top: 310px;
   }

   .Search::placeholder {
      margin-left: 25px;
      margin-top: 10px;
   }

   .text {
      top: 720px;
      left: 125px;
   }


}

@media (min-width:769px) and (max-width:878px) {


   .searchIc {
      left: 223px;
      top: 310px;
   }

   .Search {
      margin-top: 20px;
      width: 300px;
      left: 220px;

   }

   .containerCategory {
      left: 50px;
      top: 420px;

   }

   .text {
      left: 50px;
   }

   .doctor {
      left: 5px;
   }

   .title {
      left: 5px;
   }
}